// size
$size: 1rem;
$s4: 0.25 * $size;
$s8: 0.5 * $size;
$s11: 0.6875 * $size;
$s12: 0.75 * $size;
$s16: $size;
$s18: 1.125 * $size;
$s19: 1.1875 * $size;
$s20: 1.25 * $size;
$s21: 1.3125 * $size;
$s22: 1.375 * $size;
$s24: 1.5 * $size;
$s26: 1.625 * $size;
$s28: 1.75 * $size;
$s30: 1.875 * $size;
$s32: 2 * $size;
$s36: 2.25 * $size;
$s40: 2.5 * $size;
$s42: 2.625 * $size;
$s48: 3 * $size;
$s54: 3.375 * $size;
$s56: 3.5 * $size;
$s60: 3.75 * $size;
$s64: 4 * $size;
$s72: 4.5 * $size;
$s80: 5 * $size;
$s81: 5.0625 * $size;
$s90: 5.625 * $size;
$s96: 6 * $size;
$s108: 6.75 * $size;
$s120: 7.5 * $size;
$s128: 8 * $size;
$s150: 9.375 * $size;
$s160: 10 * $size;
$s192: 12 * $size;
$s206: 12.875 * $size;

// space
$web: 1140px;
$tablet:992px;
$phone:768px;