<ul class="banner d-flex justify-center">
  <li class="phone">
    <img src="../assets/images/product-header-sm-1.png" alt="banner" />
  </li>
  <li class="phone">
    <img src="../assets/images/product-header-sm-2.png" alt="banner" />
  </li>
  <li class="web">
    <img src="../assets/images/product-header-1.png" alt="banner" />
  </li>
  <li class="web">
    <img src="../assets/images/product-header-2.png" alt="banner" />
  </li>
</ul>
