<footer class="bg-color-red mt-80">
  <div class="container">
    <div class="footerNav d-flex justify-between  align-center">
      <ul class="d-flex align-center pt-48">
        <li><a href="#" class="lh-48 font-16 text-white decoration-none inline-block">首頁</a></li>
        <li><a href="#" class="lh-48 font-16 text-white decoration-none inline-block">系列鏡框</a></li>
        <li><a href="#" class="lh-48 font-16 text-white decoration-none inline-block">門市據點</a></li>
        <li><a href="#" class="lh-48 font-16 text-white decoration-none inline-block">部落格</a></li>
        <li><a href="#" class="lh-48 font-16 text-white decoration-none inline-block">常見問題</a></li>
      </ul>
      <ul class="footerIcons d-flex align-center justify-center pt-48">
        <li class="w-48px"><a href="#">
          <img class="inline-block" 
            width="40"
            height="40"
            src="../assets/images/ic-social-fb.png"
            alt="fb"
          />
        </a></li>
        <li class="w-48px"><a href="#" >
          <img class="inline-block"
            width="40"
            height="40"
            src="../assets/images/ic_social_ig.png"
            alt="ig"
          />
        </a></li>
        <li class="w-48px" ><a href="#">
          <img class="inline-block"
            width="40"
            height="40"
            src="../assets/images/ic_social_line.png"
            alt="line"
          />
        </a></li>
      </ul>
    </div>
    <div class="footerTel d-flex mt-24 align-center">
      <a href="tel:0800-000-000" class="block d-flex align-center">
        <span class="material-icons font-36 text-white">
          call
          </span>
      </a> <a href="tel:0800-000-000" class="lh-54 font-36 text-white ml-22 decoration-none">
          0800-000-000
        </a>
    </div>
    <div class="footerEmail d-flex mt-8 align-center">
      <a href="mailto:glasses@business.com" class="block d-flex align-center ">
        <span class="material-symbols-outlined font-36 text-white">
          mail
          </span>
      </a> <a href="mailto:glasses@business.com" class="lh-54 font-36 text-white ml-22 decoration-none">
        glasses@business.com
        </a>
    </div>
    <div class="divider mt-32">
      <hr>
    </div>
    <div class="copyright mt-32 d-flex justify-between pb-40">
      <h5 class="lh-21 text-white">
        Copyright © 2023 Glasses.All rights reserved.
      </h5>
      <div class="policy d-flex ">
        <p class="lh-21 text-white"><a class="decoration-none text-white" href="#">隱私權政策</a></p>
        <p class="lh-21 text-white ml-48"><a class="decoration-none text-white" href="#">服務條款</a></p>
      </div>
    </div>
  </div>
</footer>
