<nav class="header nav bg-color-red">
    <div class="container  pt-12 pb-12 d-flex justify-between">
        <a class="ml-36" href="#"><img width="80" height="48" src="../assets/images/logo-new_工作區域 1@2x.png" alt="logo"></a>
        <ul class="d-flex align-center lh-30 font-20">
            <li><a href="#" class="decoration-none text-white">系列鏡框</a></li>
            <li class=""><a href="#" class="decoration-none text-white">門市據點</a></li>
            <li class=""><a href="#" class="decoration-none text-white">部落格</a></li>
            <li class=" mr-30"><a href="#" class="decoration-none text-white">常見問題</a></li>
        </ul>
    </div>
</nav>
