<nav class="header nav bg-color-red">
  <div class="container pt-12 pb-12 d-flex justify-between">
    <a class="ml-36" href="./index.html"
      ><img
        width="80"
        height="48"
        src="../assets/images/logo-new_工作區域 1@2x.png"
        alt="logo"
    /></a>
    <ul class="d-flex align-center">
      <li>
        <a href="./index.html" class="decoration-none text-white lh-30 font-20"
          >系列鏡框</a
        >
      </li>
      <li class="">
        <a href="./store.html" class="decoration-none text-white lh-30 font-20"
          >門市據點</a
        >
      </li>
      <li class="">
        <a href="./blog.html" class="decoration-none text-white lh-30 font-20">部落格</a>
      </li>
      <li class="mr-30">
        <a href="./question.html" class="decoration-none text-white lh-30 font-20"
          >常見問題</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="headerMobile bg-color-red">
    <ul class="d-flex justify-between wrap-  w-100">
        <li class="w-50 text-align-center">
          <a
            href="./index.html"
            class="decoration-none text-white lh-24 font-16 border-white block w-100 pt-12 pb-12"
            >系列鏡框</a
          >
        </li>
        <li class="w-50 text-align-center">
          <a
            href="./store.html"
            class="decoration-none text-white lh-24 font-16 border-white border-left-none block w-100 pt-12 pb-12"
            >門市據點</a
          >
        </li>
        <li class="w-50 text-align-center">
          <a
            href="./blog.html"
            class="decoration-none text-white lh-24 font-16 border-white border-top-none block w-100 pt-12 pb-12"
            >部落格</a
          >
        </li>
        <li class="w-50 text-align-center">
          <a
            href="./question.html"
            class="decoration-none text-white lh-24 font-16 border-white border-left-none border-top-none block w-100 pt-12 pb-12"
            >常見問題</a
          >
        </li>
      </ul>
</div>
