<div class="container option">
    <ul class="en d-flex text-align-center">
        <li class="w-100"><a href="#" class="lh-36 font-24 optionActive pt-16 pb-16  border block decoration-none text-black">OPTICAL</a></li>
        <li class="w-100"><a href="#" class="lh-36 font-24 option pt-16 pb-16  border border-left-none block decoration-none text-black">SUNGLASSES</a></li>
        <li class="w-100"><a href="#" class="lh-36 font-24 option pt-16 pb-16  border border-left-none block decoration-none text-black">FUNCTIONAL</a></li>
    </ul>
</div>