<div class="content product mt-60" >
  <section class="text-align-center">
    <h2 class="lh-64 font-42 en">Celluloid Combi</h2>
    <p class="text-align-center lh-48 font-32">賽璐珞鈦金屬混合鏡框</p>
  </section>
  <div class="container product-items mt-32">
    <ul class=" d-flex gap-24 wrap-">
      <li class="d-flex wrap-">
        <img src="../assets/images/product-1.png" alt="product1" />
        <div class="category d-flex justify-between lh-36 font-24 w-100">
          <p class="">BJ41600S</p>
          <p class="text-red">NTD3,490</p>
        </div>
        <div class="d-flex w-100" >
          <a
            href="#"
            class="bg-color-darkBrown decoration-none lh-24 radius-4 h-24px w-24px"
          ></a>
          <a
            href="#"
            class="bg-color-brown decoration-none radius-4 h-24px w-24px ml-8"
          ></a>
        </div>
      </li>
      <li class="d-flex justify-center wrap-">
        <img src="../assets/images/product-2.png" alt="product2" class="w-100"/>
        <div class="category d-flex justify-between lh-36 font-24 w-100">
          <p class="">BJ41600S</p>
          <p class="text-red">NTD3,490</p>
        </div>
        <div class="d-flex w-100" >
          <a
            href="#"
            class="bg-color-darkBrown decoration-none lh-24 radius-4 h-24px w-24px"
          ></a>
          <a
            href="#"
            class="bg-color-brown decoration-none radius-4 h-24px w-24px ml-8"
          ></a>
        </div>
      </li>
      <li class="d-flex justify-center wrap-">
        <img src="../assets/images/product-3.png" alt="product3" class="w-100"/>
        <div class="category d-flex justify-between lh-36 font-24 w-100">
          <p class="">BJ41600S</p>
          <p class="text-red">NTD3,490</p>
        </div>
        <div class="d-flex w-100" >
          <a
            href="#"
            class="bg-color-darkBrown decoration-none lh-24 radius-4 h-24px w-24px"
          ></a>
          <a
            href="#"
            class="bg-color-brown decoration-none radius-4 h-24px w-24px ml-8"
          ></a>
        </div>
      </li>
      <li class="d-flex justify-center wrap-">
        <img src="../assets/images/product-4.png" alt="product4" class="w-100"/>
        <div class="category d-flex justify-between lh-36 font-24 w-100">
          <p class="">BJ41600S</p>
          <p class="text-red">NTD3,490</p>
        </div>
        <div class="d-flex w-100" >
          <a
            href="#"
            class="bg-color-darkBrown decoration-none lh-24 radius-4 h-24px w-24px"
          ></a>
          <a
            href="#"
            class="bg-color-brown decoration-none radius-4 h-24px w-24px ml-8"
          ></a>
        </div>
      </li>
      <li class="d-flex justify-center wrap-">
        <img src="../assets/images/product-5.png" alt="product5" class="w-100"/>
        <div class="category d-flex justify-between lh-36 font-24 w-100">
          <p class="">BJ41600S</p>
          <p class="text-red">NTD3,490</p>
        </div>
        <div class="d-flex w-100" >
          <a
            href="#"
            class="bg-color-darkBrown decoration-none lh-24 radius-4 h-24px w-24px"
          ></a>
          <a
            href="#"
            class="bg-color-brown decoration-none radius-4 h-24px w-24px ml-8"
          ></a>
        </div>
      </li>
      <li class="d-flex justify-center wrap-">
        <img src="../assets/images/product-6.png" alt="product6" class="w-100"/>
        <div class="category d-flex justify-between lh-36 font-24 w-100">
          <p class="">BJ41600S</p>
          <p class="text-red">NTD3,490</p>
        </div>
        <div class="d-flex w-100" >
          <a
            href="#"
            class="bg-color-darkBrown decoration-none lh-24 radius-4 h-24px w-24px"
          ></a>
          <a
            href="#"
            class="bg-color-brown decoration-none radius-4 h-24px w-24px ml-8"
          ></a>
        </div>
      </li>
      <li class="d-flex justify-center wrap-">
        <img src="../assets/images/product-7.png" alt="product7" class="w-100"/>
        <div class="category d-flex justify-between lh-36 font-24 w-100">
          <p class="">BJ41600S</p>
          <p class="text-red">NTD3,490</p>
        </div>
        <div class="d-flex w-100" >
          <a
            href="#"
            class="bg-color-darkBrown decoration-none lh-24 radius-4 h-24px w-24px"
          ></a>
          <a
            href="#"
            class="bg-color-brown decoration-none radius-4 h-24px w-24px ml-8"
          ></a>
        </div>
      </li>
      <li class="d-flex justify-center wrap-">
        <img src="../assets/images/product-8.png" alt="product8" class="w-100"/>
        <div class="category d-flex justify-between lh-36 font-24 w-100">
          <p class="">BJ41600S</p>
          <p class="text-red">NTD3,490</p>
        </div>
        <div class="d-flex w-100" >
          <a
            href="#"
            class="bg-color-darkBrown decoration-none lh-24 radius-4 h-24px w-24px"
          ></a>
          <a
            href="#"
            class="bg-color-brown decoration-none radius-4 h-24px w-24px ml-8"
          ></a>
        </div>
      </li>
      <li class="d-flex justify-center wrap-">
        <img src="../assets/images/product-9.png" alt="product9" class="w-100"/>
        <div class="category d-flex justify-between lh-36 font-24 w-100">
          <p class="">BJ41600S</p>
          <p class="text-red">NTD3,490</p>
        </div>
        <div class="d-flex w-100" >
          <a
            href="#"
            class="bg-color-darkBrown decoration-none lh-24 radius-4 h-24px w-24px"
          ></a>
          <a
            href="#"
            class="bg-color-brown decoration-none radius-4 h-24px w-24px ml-8"
          ></a>
        </div>
      </li>
      <li class="d-flex justify-center wrap-">
        <img src="../assets/images/product-10.png" alt="product10" class="w-100"/>
        <div class="category d-flex justify-between lh-36 font-24 w-100">
          <p class="">BJ41600S</p>
          <p class="text-red">NTD3,490</p>
        </div>
        <div class="d-flex w-100" >
          <a
            href="#"
            class="bg-color-darkBrown decoration-none lh-24 radius-4 h-24px w-24px"
          ></a>
          <a
            href="#"
            class="bg-color-brown decoration-none radius-4 h-24px w-24px ml-8"
          ></a>
        </div>
      </li>
      <li class="d-flex justify-center wrap-">
        <img src="../assets/images/product-11.png" alt="product11" class="w-100"/>
        <div class="category d-flex justify-between lh-36 font-24 w-100">
          <p class="">BJ41600S</p>
          <p class="text-red">NTD3,490</p>
        </div>
        <div class="d-flex w-100" >
          <a
            href="#"
            class="bg-color-darkBrown decoration-none lh-24 radius-4 h-24px w-24px"
          ></a>
          <a
            href="#"
            class="bg-color-brown decoration-none radius-4 h-24px w-24px ml-8"
          ></a>
        </div>
      </li>
      <li class="d-flex justify-center wrap-">
        <img src="../assets/images/product-12.png" alt="product12" class="w-100"/>
        <div class="category d-flex justify-between lh-36 font-24 w-100">
          <p class="">BJ41600S</p>
          <p class="text-red">NTD3,490</p>
        </div>
        <div class="d-flex w-100" >
          <a
            href="#"
            class="bg-color-darkBrown decoration-none lh-24 radius-4 h-24px w-24px"
          ></a>
          <a
            href="#"
            class="bg-color-brown decoration-none radius-4 h-24px w-24px ml-8"
          ></a>
        </div>
      </li>
    </ul>
      
  </div>
  <div class="container">
    <ul class="pages  d-flex mt-90 justify-center text-align-center">
      <li class="lh-26 font-19 "><a href="#" class="decoration-none text-gray inline-block pt-11 pb-11 pl-12 pr-12 border">上一頁</a></li>
      <li class="font-18 "><a href="#" class="decoration-none text-gray inline-block pt-12 pb-12 pl-16 pr-16 page border border-left-none">1</a></li>
      <li class="font-18"><a href="#" class="decoration-none text-gray inline-block pt-12 pb-12 pl-16 pr-16 page border border-left-none">2</a></li>
      <li class="font-18"><a href="#" class="decoration-none text-gray inline-block pt-12 pb-12 pl-16 pr-16 page border border-left-none">3</a></li>
      <li class="font-18"><a href="#" class="decoration-none text-gray inline-block pt-12 pb-12 pl-16 pr-16 page border border-left-none">4</a></li>
      <li class="font-19"><a href="#" class="decoration-none text-gray inline-block pt-12 pb-12 pl-16 pr-16 page border border-left-none">5</a></li>
      <li class="lh-26 font-19 border border-left-none bg-color-gray"><a href="#" class="decoration-none text-gray inline-block pt-11 pb-11 pl-12 pr-12 ">下一頁</a></li>
    </ul>
  </div>
</div>
