.font- {
  &16 {
    font-size: $s16;
  }
  &18 {
    font-size: $s18;
  }
  &19 {
    font-size: $s19;
  }
  &20 {
    font-size: $s20;
  }
  &24 {
    font-size: $s24;
  }
  &30 {
    font-size: $s30;
  }
  &32 {
    font-size: $s32;
  }
  &36 {
    font-size: $s36;
  }
  &42 {
    font-size: $s42;
  }
  &48 {
    font-size: $s48;
  }
  &64 {
    font-size: $s64;
  }
  &96 {
    font-size: $s96;
  }
  &128 {
    font-size: $s128;
  }
}

.text-align- {
  &center {
    text-align: center;
  }
  &right{
    text-align: right;
  }
}

.vertical-align-{
  &middle{
    vertical-align: middle;
  }
}

.decoration-none{
  text-decoration: none;
}

.text-nowrap{
  white-space:nowrap
}