
.lh-{
    &24{
        line-height: $s24;
    }
    &21{
        line-height: $s21;
    }
    &26{
        line-height: $s26;
    }
    &27{
        line-height: $s26;
    }
    &30{
        line-height: $s30;
    }
    &36{
        line-height: $s36;
    }
    &48{
        line-height: $s48;
    }
    &54{
        line-height: $s54;
    }
    &64{
        line-height: $s64;
    }
    &96{
        line-height: $s96;
    }
    &192{
        line-height: $s192;
    }
}