.m {
  &l- {
    &4 {
      margin-left: $s4;
    }
    &8 {
      margin-left: $s8;
    }
    &12 {
      margin-left: $s12;
    }
    &16 {
      margin-left: $s16;
    }
    &22 {
      margin-left: $s22;
    }
    &24 {
      margin-left: $s24;
    }
    &36 {
      margin-left: $s36;
    }
    &48 {
      margin-left: $s48;
    }
    &64 {
      margin-left: $s64;
    }
    &108 {
      margin-left: $s108;
    }
    &120 {
      margin-left: $s120;
    }
    &42p {
      margin-left: 42%;
    }
  }
  &r- {
    &20 {
      margin-right: $s20;
    }
    &30 {
      margin-right: $s30;
    }
    &48 {
      margin-right: $s48;
    }
  }
  &t- {
    &16 {
      margin-top: $s16;
    }
    &24 {
      margin-top: $s24;
    }
    &28 {
      margin-top: $s28;
    }
    &32 {
      margin-top: $s32;
    }
    &36 {
      margin-top: $s36;
    }
    &40 {
      margin-top: $s40;
    }
    &56 {
      margin-top: $s56;
    }
    &60 {
      margin-top: $s60;
    }
    &72 {
      margin-top: $s72;
    }
    &80 {
      margin-top: $s80;
    }
    &90 {
      margin-top: $s90;
    }
    &96 {
      margin-top: $s96;
    }
    &128 {
      margin-top: $s128;
    }
    &160 {
      margin-top: $s160;
    }
    &206 {
      margin-top: $s206;
    }
  }
  &b- {
    &24 {
      margin-bottom: $s24;
    }
    &206 {
      margin-bottom: $s206;
    }
    &128 {
      margin-bottom: $s128;
    }
  }
}
