// space
$web: 1140px;
$tablet: 992px;
$phone: 768px;
$small: 375px;

@mixin rwd($small) {
  @media (min-width: $small) {
    @content;
  }
  @media (min-width: $phone) {
    @content;
  }
  @media (min-width: $tablet) {
    @content;
  }
  @media (min-width: $web) {
    @content;
  }
}

.product-items li {
  width: 100%;
  margin:0 auto;
  @include rwd($phone) {
    width: 48%;
    
  }
  @include rwd($tablet) {
    width: 23%;
  }
}

.banner .phone {
  display: block;
  @include rwd($phone) {
    display: none;
  }
}

.banner .web {
  display: none;
  @include rwd($phone) {
    display: block;
  }
}

.header ul li a {
  font-size: 16px;
  margin-left: 0px;
  @include rwd($small) {
    margin-left: 36px;
  }
  @include rwd($phone) {
    margin-left: 64px;
  }
}

.footer ul li a {
  @include rwd($small) {
    margin-right: 26px;
  }
  @include rwd($phone) {
    margin-right: 48px;
  }
}

.footerNav ul li a {
  margin-right: 12px;

  @include rwd($phone) {
    margin-right: 48px;
  }
}

.footerNav ul img {
  @include rwd($phone) {
    width: 48px;
    height: 48px;
  }
}

.footerIcons {
  gap: 12px;
  @include rwd($phone) {
    gap: 36px;
  }
}

.footerEmail,
.footerTel {
  font-size: 24px;
  @include rwd($phone) {
    font-size: 36px;
  }
}

.header .container a {
  margin-left: 12px;
  @include rwd($phone) {
    margin-left: 36px;
  }
  // font-size:16px
}

.header .container img {
  width: 50px;
  height: 32px;
}
.header .container ul li a {
  line-height: 24px;
  font-size: 14px;
  @include rwd($phone) {
    line-height: $s30;
    font-size: $s20;
  }
}

.header .container ul li {
  margin-right: 12px;
}

.headerMobile{
  display:block;
  @include rwd($phone){
    display:none;
  }
}

.header ul {
  display:none;
  @include rwd($phone){
    display:block;
    display:flex;
  }
}

.option a {
  font-size: $s18;
  @include rwd($phone) {
    line-height: 36px;
    font-size: 20px;
  }
}

.pages .prev,
.pages .next {
  line-height: 24px;
  font-size: 16px;
  padding: 12px 2px;
  @include rwd($phone) {
    line-height: 26px;
    font-size: 19px;
    padding: 12px 12px;
  }
}

.pages .p1,
.pages .p2,
.pages .p3,
.pages .p4,
.pages .p5 {
  padding: 12px 14px;
  font-size: 16px;
  @include rwd($phone) {
    padding: 13px 16px;
    font-size: 18px;
  }
}

footer {
  padding: 0px 12px;
  @include rwd($phone) {
    padding: 0px 36px;
  }
}

.footerIcons li {
  width: auto;
  @include rwd($phone) {
    width: 48px;
    height: 48px;
  }
}

footer .container .footerNav {
  flex-wrap: wrap;
  @include rwd($phone) {
    flex-wrap: nowrap;
  }
}

footer .footerNav > ul li a {
  width: auto;
}

footer .footerNav a {
  line-height: 24px;
  white-space: nowrap;
}

footer .footerTel a,
footer .footerEmail a {
  font-size: 24px;
  @include rwd($phone) {
    font-size: 36px;
  }
}

footer .copyright {
  flex-wrap: wrap;
  gap: 24px;
  @include rwd($phone) {
    flex-wrap: nowrap;
    gap: 0px;
  }
}

.product .product-items .category p {
  line-height: 24px;
  font-size: 16px;
}

.product section h2 {
  font-size: 36px;
  @include rwd($phone) {
    font-size: 42px;
  }
}

.product section p {
  font-size: 30px;
  @include rwd($phone) {
    font-size: 36px;
  }
}

.connect{
  @include rwd($tablet){
    display:none;
  }
}

.Navmenu {
  display:none;
  @include rwd($tablet){
    display:block;
    display:flex;
  }
}

.connect a~a{
  line-height: 24px;
  font-size:16px;
  margin-left: 11px;
  @include rwd($phone){
    line-height: 54px;
    font-size:36px;
  }
}

.footerIcons img{
  width: 24px;
  height:24px;
  @include rwd($phone){
    width: 40px;
  height:40px;
  }
}

.footerIcons {
  padding-top: 0px;
  @include rwd($phone){
    padding-top: 48px;
  }
}
.connect span{
  line-height: 18px;
  font-size:18px;
  @include rwd($phone){
    font-size:36px;
  }
}


.rwd{
  display:none;
  @include rwd($phone){
    display:block;
    // display:flex;
  }
}

.footerIcons{
  margin-top: 0px;
}

.copyright{
  flex-wrap:wrap;
  @include rwd($phone){
    flex-wrap:nowrap;
  }
}

.copyright h5{
  width: 100%;
  @include rwd($phone){
    width:auto;
  }
}

.sunGlass li {
width:100%;
margin:0 auto;
@include rwd($small){
  width:45%;
}
@include rwd($web){
  width: 31%;
}
}

.content{
  padding: 0px 12px;
  @include rwd($phone){
    padding:0px 36px;
  }
}

.sunGlass li p{
  line-height: 24px;
  font-size:16px;
}

.sunGlasses > section h2{

  line-height: 36px;
  font-size:24px;
  @include rwd($phone){
    line-height: 63px;
    font-size:42px;
  }
 
}

.sunGlasses > section p{
  line-height: 36px;
  font-size:24px;
  @include rwd($phone){
    line-height: 48px;
    font-size:32px;
  }
  
}

.sunGlasses img{
  cursor: pointer;
}

.store h2{
  margin-top: 40px;
  height: 36px;
  font-size:24px;
  font-weight: bold;
  @include rwd($phone){
    line-height: 72px;
    font-size: 48px;
  }
}

.store {
  padding:0px 12px;
  @include rwd($phone){
    padding:0px 36px;
  }
}


.store .optionArea{
  margin-top: 24px;
}
.store select{
  width:100%;
  @include rwd($phone){
    width:26.5%;
  }
}

.store h3{
  line-height: 24px;
  font-size:16px;
}

.storeCard h3{
  line-height: 36px;
  font-size: 24px;
}

.storeConnect p{
  margin-left: 11px;
}

.storeConnect img{
  width: 18px;
  height: 18px;
  line-height: 24px;
}

.storeCard ul li{
  margin-top: 24px;
}

.storeCard li{
  width: 100%;
  margin:0 auto;
  
  @include rwd($small){
    width:48%;
  }
  @include rwd($phone){
    width: 31%;
    
  }
}

.storeConnect {
  padding:16px 24px 16px 27px;
}

.storeConnect div:not(:first-child){
  margin-top: 8px;
}

.store section h2{
  @include rwd($phone){
    line-height: 72px;
    height: 100%;;
  }
}

.store section h3{
  @include rwd($phone){
    line-height: 36px;
    font-size:24px;
  }
}

.store section select{
  @include rwd($phone){
    line-height: 26px;
    font-size:18px;
  }
}

.optionArea select{
  margin-left: 8px;
  @include rwd($phone){
    margin-left: 16px;
  }
}

.store img{
  cursor: pointer;
}

.storeCardSelected img{
  margin-top:24px;
  @include rwd($tablet){
    margin-top:0px;
  }
}

.storeCardSelected ul li:nth-child(1){
  margin:0 auto;
  @include rwd($tablet){
    width: 36%;
  }

}

.storeCardSelected ul li:nth-child(2){
  @include rwd($phone){
    width: 60%;
  }

}

