.w- {
  &9 {
    width: 9%;
  }
  &15 {
    width: 15%;
  }
  &25 {
    width: 25%;
  }
  &30 {
    width: 30%;
  }
  &33 {
    width: 30%;
  }
  &40 {
    width: 40%;
  }
  &41 {
    width: 41%;
  }
  &48 {
    width: 48%;
  }
  &49 {
    width: 49%;
  }
  &50 {
    width: 50%;
  }
  &55 {
    width: 55%;
  }
  &60 {
    width: 60%;
  }
  &65 {
    width: 65%;
  }
  &66 {
    width: 66%;
  }
  &67 {
    width: 67%;
  }
  &70 {
    width: 70%;
  }
  &85 {
    width: 85%;
  }
  &100 {
    width: 100%;
  }
}

.w- {
  &24px {
    width: $s24;
  }
  &42px {
    width: $s42;
  }
  &48px {
    width: $s48;
  }
  &81px {
    width: $s81;
  }
}
